<div class='row text-center'>
  <h1 class='page-heading'>What is your learning Rhythm?</h1>
</div>
<div class='row'>
  <% @rhythms.each do |rhythm| %>
    <%= render 'rhythm', rhythm: rhythm %>
  <% end %>
</div>
<div class="columns small-12 large-12 medium-12 large-centered medium-centered small-centered  text-center">
  <%= link_to "Submit", new_user_question_path, class: "button sub" %>
</div>