<div class='row hero'>
  <%= image_tag("hive.png", class: "hero")%>
</div>
<div class='row hero-text'>
  <div class="columns small-12 large-12 medium-12 large-centered medium-centered small-centered text-center">
    <h1 class='app-title'>Welcome To</h1>
    <h1 class='app-title'>Hive.It</h1>
  </div>
</div>
<div class='row'>
  <div class='columns large-12 medium-12 small-12 text-center'>
    <h2>We want to create your learning profile to connect you to a learning community...</h3>
  </div>
</div>
<div class="columns small-12 large-12 medium-12 large-centered medium-centered small-centered  text-center">
  <!-- Bypassing login for now... -->
  <a href="users/1/competencies" class="button fb-auth">Login with Facebook</a>
</div>