<div class='columns small-12 medium-6 large-4 center'>
  <h3 class='text-center'><%= competency.name %></h3>
    <%= image_tag('http://static1.squarespace.com/static/547ceb36e4b06363b321d2db/t/55539fcfe4b004e720fb76d7/1431543762718/openbook.png', class: 'comps')%>
</div>