<div class='columns small-12 medium-6 large-4 center'>
  <div class='post-it' style="background-color: <%= competency.color %>">
    <h3 id='<%= competency.name %>' class='text-center pi-heading'><%= competency.name %></h3>
  </div>
</div>