<div class='row text-center'>
  <h1 class='page-heading'>How do you learn best? (select 3)</h1>
</div>
<div class='row'>
  <%= render @competencies %>
</div>
<div class="columns small-12 large-12 medium-12 large-centered medium-centered small-centered  text-center">
  <%= link_to "Submit", user_competencies_path, class: "button sub", id: "sub-comps" %>
</div>
