<div class='row text-center'>
  <h1 class='page-heading'>Order them from most to least effective...</h1>
</div>
<div class='row'>
  <%= render @competencies %>
</div>
<div class="columns small-12 large-12 medium-12 large-centered medium-centered small-centered  text-center">
  <!-- Add AJAX here to associate selections with the user -->
  <a href="#" class="button sub" id="sub-order">Submit</a>
</div>
<div class='row'>
  <div class='columns small-12 medium-6 large-4 center'>
    <div class='dropbox'>
      <h3 class='text-center dropbox-text'>1</h3>
    </div>
  </div>
  <div class='columns small-12 medium-6 large-4 center'>
    <div class='dropbox'>
      <h3 class='dropbox-text text-center'>2</h3>
    </div>
  </div>
  <div class='columns small-12 medium-6 large-4 center'>
    <div class='dropbox'>
      <h3 class='dropbox-text text-center'>3</h3>
    </div>
  </div>
</div>