<div class='row text-center'>
  <h1 class='page-heading' ><%= @current_hive.question.inquiry %></h1>
</div>
<div class='row'>
  <h3>Hive Members</h3>
</div>
<div class='row center'>
  <% @hive_users.each do |member| %>
    <%= render 'member', member: member %>
  <% end %>
</div>
<div class='row'>
  <div class='columns large-12 large-centered horiz-line'>
    <hr class="horiz-line">
  </div>
</div>
<div class='row'>
  <div class='columns large-8 medium-8 small-12' id='chat-window'>
  </div>
  <div class='columns large-4 medium-4 small-12' id='favorites'>
    <h3 class='text-center'>Favorites</h3>
  </div>
</div>
