li.name > a {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: white;
}

.buffer {
  margin-top: 2.5em;
}

.hero {
    width: 100%;
    border: black 1px solid;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    opacity: 0.7;
}

.hero-text {
    top: 15%;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.app-title {
  font-weight: bold;
  font-size: 300%;
  color: white;
}

.page-heading {
  margin-top: 1em;
  margin-bottom: 1em;
}

.fb-auth {
  margin-top: 2em;
}

.post-it {
  border: 1px black solid;
  height: 10em;
  margin-bottom: 2em;
}

.active {
  box-shadow: 5px 5px 5px #0000FF;
}

.pi-heading {
  margin-top: 2em;
}

.dropbox {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 1px black solid;
  height: 10em;
}

.comp-rank {
  border: 1px black solid;
/*  width: 325px;
  height: 250px;*/
}

.sub {
  margin-top: 2em;
}

.rhythm-heading {
  color: white;
  margin-top: 2em;
}

.question-box {
  height: 10em;
}

.tq-title {
  margin-bottom: 2em;
  text-decoration: underline;
}

.q-button {
  margin-left: 1em;
}

.top-questions {
  border: 1px black solid;
  padding-top: 2em;
  padding-bottom: 2em;
}

.hive {
  border: 1px black solid;
  height: 10em;
  background-color: gray;
  margin-bottom: 2em;
}

.user-image {
  border: 1px black solid;
}

#favorites {
  border: 1px black solid;
  height: 21em;
}

#cross-pol {
  border: 1px black solid;
  height: 21em;
  margin-top: 2em;
}

.comment-box {
  height: 50%;
  width: 80%;
  margin-left: 10%;
}

#chat-window {
  height: 45em;
}

.chat-title {
  font-weight: bold;
}

.icon {
  height: 3em;
  width: auto;
}

.profile-box {
  border: 1px black solid;
  height: 10em;
  margin-bottom: 2em;
}
